
.container{
  display: flex;
  flex-direction: column;
  background-color: #eff8fd;
  height: 50%;
  padding: 0 0 30px;
  position: sticky;

}

#title{
  background-color: #637911;
  width: 100%;
  margin: 0;

  position: relative;
}

#title h1{
  text-align: center;
  padding: 15px 0;
  margin: auto 0;
  font-size: 30px;
  font-family: Rubik;
  font-weight: bold;
  color: #eff8fd;

}

